<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.books.any?%>
      <% if !@user.status || current_user?(@user) %>
      <h3>Books <%=@user.name%> (<%= @user.books.count %>)</h3>
      <%if current_user?(@user)%>
       <%if !current_user.status%>
        List Book is Public
      <%else%>
        List Book is Private
      <%end%>
       <%= link_to 'change status',edit_user_path(current_user) %>
      <%end%>
      <ol class="microposts">
        <%= render @books %>
      </ol>
            <%= will_paginate @books %>
        <% else %>
        <h3> List's Books is private</h3>
          <% end %>
    <% end %>
  </div>
</div>