<% provide(:title, "Edit user") %>
<h1>Update your Book</h1>

<div class="row">
  <div class="span6 offset3">
  <%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    Name: <%= f.text_field :name, placeholder: "Book name..." %>
    Description <%= f.text_area :content, placeholder: "Create new book..." %>
  </div>
  <%= f.submit "Save Change", class: "btn btn-large btn-primary" %>
  <% end %>
  </div>
</div>